.header {}



.nav-menu {

}

.nav-list {}

.nav-anchor {}


.nav-anchor-link {font-weight: 500;
    color: #2e2f42;}
.nav-anchor-link:hover {
    color: #404bbf;
    
}


.line:active, line:focus {text-decoration-color: #4d5ae5;
    text-decoration: underline;
    
    color: #404bbf; }

