.header {}



.nav-menu {

}

.nav-list {}

.nav-anchor {}


.nav-anchor-link {font-weight: 400;
    color: #434455;}
.nav-anchor-link:hover, .nav-anchor-link:focus {
    color: #404bbf;
    
}


.line:active, .line:focus {text-decoration-color: #4d5ae5;
    text-decoration: underline;
    
    color: #404bbf; }

