.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    line-height: 1.07143;

    text-align: center;
    color: #fff;
}

.btn {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    
    text-align: center;
    
    /* zaboronyae tekstu perenosytysya white-space: nowrap; ,,padding: 16px 32px; width: 169px;
        max-width: 169px;
        height: 56px;   */
    
}

.btn:hover, .btn:focus {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: #404bbf;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

 
    text-align: center;
    
}