.portfolio {}

.container {padding: 0 15px;
    width: 1158px;
    height: 1000px;
    max-width: 1158px;}

.portfolio-headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;}

.project-list {}

.project-card {}

.portfolio-img {}

.portfolio-headline-media {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;}

.portfolio-abzats {}